# Системные файлы
.DS_Store
Thumbs.db
.cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak
*.tmp
*.swp
*.swo
*.log
  
# IDE и редакторы
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Зависимости
node_modules/
vendor/
/jspm_packages

# Сборка и логи
build/
dist/
out/
*.log
*.sqlite
npm-debug.log*

# Конфиденциальные данные
.env
.env.local
.env.*.local
*.pem
*.key